{% extends 'index.html' %}
{% load bootstrap3 %}
{% block body_content %}
    {% if user.type == '1' %}
        <a href="#createRequestModal" data-toggle="modal" type="button" class="btn btn-success pull-right" style="margin-right: 110px; margin-bottom: 20px;">Create Request</a>
    {% else %}
        <a href="#" id="downloadPDF" type="button" class="btn btn-success pull-right" style="margin-right: 110px; margin-bottom: 20px;">Download PDF</a>
    {% endif %}
    <div class="row" id="requestContent">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                    {% if user.type == '2' or user.type == '3' %}
                  <th scope="col"> Requested By </th>
                    {% endif %}
                  <th scope="col"> Details</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for request in requests %}
                    <tr>
                    <th scope="row"> {{ forloop.counter }} </th>
                        {% if user.type == '2' or user.type == '3' %}
                    <td>
                        {{ request.requested_user.name }} <br>
                        <a href="javascript:;" style="text-decoration: none; cursor:default">
                            {{ request.requested_user.email }}
                        </a>
                    </td>
                        {% endif %}
                    <td>{{ request.details }}</td>
                    <td>
                        {% if request.status == '1' %}
                        <span class="badge badge-primary">Open</span>
                        {% elif request.status == '2' %}
                        <span class="badge badge-info">HR reviewed</span>
                        {% else %}
                        <span class="badge badge-success">Processed</span> <br>
                            {% if request.processor_user %}
                            <small>by <strong>{{ request.processor_user.name }} </strong></small>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="editRequest">
                        {% if user.type == '1' and request.status == '1'%}
                        <a href="{% url 'hr:updateRequest' request.id %}" class="btn btn-sm">
                            Edit
                        </a>
                        {% endif %}
                        {% if user.type == '2' and request.status != '3' %}
                        <a href="{% url 'hr:updateRequest' request.id %}" class="btn btn-sm">
                            Edit
                        </a>
                        {% endif %}
                        {% if user.type == '3' and request.status == '2'%}
                        <a href="{% url 'hr:updateRequest' request.id %}" class="btn btn-sm">
                            Edit
                        </a>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createRequestModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Create Request</h3>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="form-group">
                        <label for="requestDetails"> Request Details</label>
                        <textarea class="form-control" name="requestDetails" id="requestDetails" rows="3" required></textarea>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default">Close</button>
                    <a type="button" id="request_submit_button" name="request_submit_button" class="btn btn-primary">Submit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
    $(document).ready(function() {
        $('#request_submit_button').addClass('disabled');
        $('#requestDetails').on('input propertychange', function() {
            if (this.value.length) {
                $('#request_submit_button').removeClass('disabled');
            } else {
                $('#request_submit_button').addClass('disabled');
            }
        });

        $('#downloadPDF').click(function() {
            var printContents = document.getElementById('requestContent').innerHTML;
            var popupWin = window.open('', '_blank', 'width=1200,height=750');
            popupWin.document.open();
            popupWin.document.write("<html><head><title>my div</title>");
            popupWin.document.write("<style>.editRequest{display: none;}</style>");

            popupWin.document.write("<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">");
            popupWin.document.write(printContents);
            popupWin.print();
            popupWin.document.close();
        });

        $("#request_submit_button").click(function(event){
            console.log("submitted request", $('#requestDetails').val());
            $.ajax({
              type:"POST",
              url:"{%url 'hr:request' %}",
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                request_details: $('#requestDetails').val()
              },
              success : function(json) {
                if (json.request_saved)
                {
                    location.reload();
                }
                else{
                    console.log("failed");
                }
              },
            });
        });
    });
    </script>
{% endblock %}